.breadcrumb li a,
.breadcrumb .breadcrumb-item {
    color: #000!important
}
.breadcrumb li a.active,
.breadcrumb .breadcrumb-item {
    color: #fb3b92!important
}
.breadcrumb li a:focus,
.breadcrumb li a:hover {
    color: #fb3b92!important
}
.breadcrumb > li + li:before {
    content: "";
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #333;
    display: inline-block;
    padding: 0;
    margin: 0 4px;
}
