.name-certificate {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 700;
    color: #7e33e0;
    margin-bottom: 16px;
}
.description-certificate {
    font-size: 16px;
    color: #7e33e0;
    margin-top: 8px;
}
.title-certificate {
    color: #7e33e0;
    font-size: 24px;
    font-weight: 600;
}
.box-certificate-content {
    margin-bottom: 8px;
}
.box-content-certificate-item {
    padding: 8px;
}
.title-product-item {
    font-size: 12px;
    font-weight: 600;
    color: #7e33e0;
}
.box-certificate {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 12px;
}
.name-certificate-item {
    font-size: 12px;
    font-weight: 700;
    color: #7e33e0;
    margin-bottom: 8px;
}
.title-certificate-item {
    color: #7e33e0;
    font-size: 12px;
    font-weight: 500;
}
.box-content-item-certificate {
    line-height: 1.2;
}
.box {
    padding: 8px;
    max-width: 120px;
}
.box-certificate {
    border: 1px solid #ccc;
}
.box-certificate-image {
    width: 100%;
    height: 350px;
}
.frame-image {
    padding: 12px 12px 9px 10px;
}
.item-image-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.box-certificate-second-content {
    border: 1px solid #ccc;
    background: #7e33e0;
}
.box-certificate-second-content .name-certificate,
.box-certificate-second-content .description-certificate,
.box-certificate-second-content .title-certificate {
    color: #fff;
}
.box-certificate-second-left {
    background: #eaeaea;
}
.item-icon-list {
    width: 25px;
    height: 25px;
}
.box-item-certificate-image {
    /* background-image: url(/images/frame.jpg); */
    /* border-image:2px solid url('images/color-frame.jpg'); */
    /* border-image: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/frame.png")
        93 92 87 92 stretch stretch;
    border-color: #f4be52;
    border-style: inset;
    border-width: 60px;
    display: block;
    width: 40%;
    height: auto;
    background-color: #ffe;
    margin: 0 auto; */
    /* background-size: cover;
    border-top: 5px solid red;
    border-right: 3px solid red;
    border-bottom: 4px solid red;
    border-left: 3px solid red; */
}
.object-fit-contain {
    object-fit: contain;
}
img.frame {
    border-image: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/frame.png")
        93 92 87 92 stretch stretch;
    border-color: #f4be52;
    border-style: inset;
    border-width: 10px;
    display: block;
    /* width: 40%; */
    height: auto;
    background-color: #ffe;
    margin: 0 auto;
}
.slick-list {
    padding: 70px 50px !important;
}
.slick-current {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
}
.center_1_2_3 .slick-slide {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
}
.center_1_2_3 .slick-current {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
@media (min-width: 1024) and (max-width: 1119.8px) {
    .box {
        padding: 8px;
        max-width: 120px;
    }
}
@media (min-width: 768px) and (max-width: 1023.8px) {
    .slick-list {
        padding: 120px 50px !important;
    }
    .slider {
        width: 70%;
        margin: 10px auto;
    }
}
@media (max-width: 576px) {
    .slick-current {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }
    .certificate_2 {
        margin-top: 8px;
    }
    .title-product-item {
        font-size: 18px;
        padding: 8px;
    }
    .item-icon-list {
        width: 60px;
        height: 60px;
    }
}
