.box {
    padding-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.title-feedback {
    font-size: 6px;
    line-height: 1.5;
}
.box-content-feedback {
    background: #ffffff;
    border-radius: 8px;
    width: 100%;
    bottom: -40px;
    min-height: 50px;
    color: #7e33e0;
}
.box-content-feedback-item {
    padding: 16px 8px;
}
.title-feedback {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}
.btn-download {
    color: #ffffffff;
    border-radius: 18px !important;
    background-color: #fb2e86;
}
.btn-download-slide {
    font-size: 4px;
    color: #ffffffff;
    border-radius: 18px !important;
    background-color: #fb2e86;
}
.btn-download-slide:hover {
    color: #fb2e86;
    background-color: #ffffff;
}
.btn-download:hover {
    color: #fb2e86;
    background-color: #ffffff;
}
.box-feedback:hover > .box-content-feedback {
    background: #7e33e0;
    color: #fff;
}
.box-feedback:hover > .box-content-feedback .btn-download {
    display: inline-block;
    color: #fb2e86;
    background-color: #ffffff;
}
.pd-description {
    padding: 8px 140px;
}
.title-feedback-slide {
    font-size: 6px;
    line-height: 1.2;
    font-weight: 500;
    padding-top: 8px;
}
.bottom-0 {
    bottom: 0;
}
.box-feedback-item {
    height: 220px;
    background-color: #fff;
}
.box-content-item {
    height: 150px;
    background: #eae2e2;
    width: 100%;
    border-radius: 28px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%), 0 5px 5px rgb(0 0 0 / 20%);
}
.box-image-item {
    width: 110px;
    height: 200px;
    bottom: 16px;
    right: 18px;
}
.content-left {
    width: 65%;
    height: 100%;
}
.title-feedback-item {
    color: #7e33e0;
    font-weight: 600;
}
.slick-list {
    padding: 120px 50px !important;
}
.slick-current {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
}
img.frame {
    border-image: url(images/sea.jpg) 93 92 87 92 stretch stretch;

    border-image: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/frame.png")
        93 92 87 92 stretch stretch;
    border-color: blue;
    border-style: inset;
    border-width: 10px;
    display: block;
    width: 40%;
    height: auto;
    background-color: #ffe;
    margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1023.8px) {
    .slick-list {
        padding: 120px 50px !important;
    }
    .slider {
        width: 70%;
        margin: 10px auto;
    }
}
@media (max-width: 576px) {
    .slick-current {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }

}
