.title-file {
    font-size: 24px;
    font-weight: 700;
    color: #7e33e0;
}
.title-item-file{
    font-size: 14px;
    font-weight: 600;
    color: #7e33e0;
}
.box-file {
    padding: 16px;
    border: 1px solid #ccc;
}
.icon-file{
    color: #ffcb5b;
    font-size: xx-large;
}
.bottom-10{
    bottom: 10px;
}
.img-100{
    width: 100px;
}
.item-download{
    color: #fb2e86;
}
.title-file:hover{
    cursor: pointer;
}
.list-file{
    display: none;
}
.h-200{
    height: 200px;
}
.item-download{
    cursor: pointer;
}
