@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (min-width: 992px) {
    .f-list-img.list-img {
        -webkit-flex: 1 0 14%;
        -ms-flex: 1 0 14%;
        flex: 1 0 14%;
    }
}

@media (max-width: 991px) {
}

/************ CAR-LIST BLOCK ************/

@media (max-width: 1199px) {
}

@media (min-width: 992px) {
    .d_md_none {
        display: none;
    }
}

@media (max-width: 991px) {
    ul.navbar-nav > li > a i {
        background: #f7f7f7 !important;
    }
}

/* -----------------------------------------------------
		Pagination
   ----------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
    .item-image-icon {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 767px) {
}

@media (max-width: 576px) {
    .box-certificate-second-content {
        margin-top: 8px;
    }
    .item-image-icon {
        width: 40px;
        height: 40px;
    }

    .slider {
        width: 90%;
        margin: 10px auto;
    }
    .pd-description {
        padding: 8px;
    }
    .section-title {
        font-size: 16px;
        line-height: 28px;
    }
    .title-product-new {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }
    section,
    .section-padding {
        padding: 12px 0;
        position: relative;
    }
    .slick-next {
        right: -10px;
    }
    .slick-prev {
        left: -10px;
    }
    .d_none {
        display: none;
    }
    .link-to-ctv {
        bottom: 55px;
        right: 8px;
    }
}

/* -----------------------------------------------------
		Detail Pages Tabs
   ----------------------------------------------------- */

@media (max-width: 420px) {
}
