ul.navbar-nav > li:hover > a,
ul.navbar-nav > li.active > a {
    color: #fb3b8e !important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > .dropdown-menu > .active > a {
    background: none;
    color: #fb3b8e;
}
.dropdown-menu li a {
    padding: 12px 0;
}
.header-one,
.header-one .site-navigation {
    background: #fff;
}
ul.navbar-nav > li > a {
    color: #000 !important;
}
.nav-search {
    top: 14px !important;
}
.input-search-header {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.btn-search-header {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    background-color: #fb3b8e !important;
    color: #ffffff !important;
    cursor: pointer;
}
a:hover, .dropdown-menu li a:focus {
    color: #fb3b8e!important;
}
.top-bar {
    padding: 8px 0;
    background: #7e33e0;
    color: #ffffff;
    position: relative;
}
.top-social ul li a {
    color: #ffffff;
    font-size: 14px;
    transition: 400ms;
    padding: 9px 12px;
}
.nav-center {
    display: flex;
    align-items: center;
}
.logo {
    max-width: 140px;
}
.header-one ul.navbar-nav > li {
    padding-left: 0;
    padding-right: 22px !important;
}
.header-one ul.navbar-nav > li a {
    font-size: 12px !important;
}
