img.image-post {
    width: 90%;
    height: 100px;
}
img.image-post-right {
    width: 100%;
    height: 70px;
}
.title-post-one-1 {
    margin-top: 8px;
}

.title-detail-post {
    font-size: 28px;
    line-height: 1.4;
}
@media (max-width: 576px) {
    img.image-post {
        width: 90%;
        height: 100px;
    }
    img.image-post-right {
        width: 90%;
        height: 100px;
    }
    .title-detail-post {
        font-size: 20px;
        line-height: 1.4;
    }
    /* .title-post-right{
        -webkit-line-clamp: 3;
    } */
}
