.box-product {
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 12px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%), 0 5px 5px rgb(0 0 0 / 20%);
}
.box-image {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    position: relative;
    /* justify-content: center;
    display: flex; */
}
.box-content {
    padding: 8px;
}
.title-product,
.label-product-new {
    font-weight: 600;
    color: #fb3b8e;
}

.price-product {
    font-weight: 700;
    font-size: 16px;
    color: #2f1ac4;
}
.title-description {
    font-weight: 700;
    font-size: 16px;
    color: #2f1ac4;
}
.price-product-detail {
    font-weight: 700;
    font-size: 20px;
    color: #1a0b5b;
}
.title-product-detail,
.price-product-detail {
    font-size: 24px;
}
.box-product:hover {
    cursor: pointer;
}
.box-product:hover > .box-content {
    cursor: pointer;
    background-color: #2f1ac4;
}
.box-product:hover > .box-content .title-product,
.box-product:hover > .box-content .date-post {
    color: #ffffffff;
}
.box-product:hover > .box-content .price-product {
    color: #ffffffff;
}
.detail {
    margin-top: 8px;
    opacity: 0;
    /* position: absolute; */
    bottom: 5px;
    margin-left: auto;
    /* margin-top: 0px; */
}
.box-product:hover .detail {
    opacity: 1;
}
.title-product-new {
    font-weight: 700;
    font-size: 28px;
    line-height: 46px;
    margin: 16px 0;
    color: #1a0b5b;
}
.box-right-product-new {
    padding-top: 40px;
}
.all-product {
    margin-bottom: 40px;
}

.box__product {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin: 5px 0;
}
.box__image__product {
    position: relative;
    padding-bottom: 10px;
    margin: 10%;
}
.box__product:hover,
.box__product:focus {
    border: 1px solid #f00;
}
.CropImg {
    width: 100%;
    position: relative;
    z-index: 1;
}
.CropImg80:before {
    content: "";
    display: block;
    padding-bottom: 80%;
}
.CropImg .thumbs {
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.CropImg .thumbs img {
    width: 100%;
    height: 100%;
    max-width: 150%;
    max-height: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
.shop__badge__promotion {
    background-color: rgba(255, 212, 36, 0.9);
}
.box__image__product .icon__sale {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.shop__badge {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 4px 2px 3px;
    font-weight: 700;
}
.shop__badge__fixed__width {
    width: 38px;
    height: 35px;
}
.shop__badge__promotion {
    background-color: rgba(255, 212, 36, 0.9);
}
.title__product {
    text-transform: capitalize;
    line-height: 1.125rem;
    height: 2.25rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    /* color: rgba(0,0,0,.8); */
    font-size: 0.875rem;
}


/* chage image */
.box__image__product {
    position: relative;
    padding-bottom: 10px;
    margin: 5%;
    margin-bottom: 5px;
}

.CropImg {
    width: 100%;
    position: relative;
    z-index: 1;
}
.CropImg .thumbs {
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.CropImg .thumbs img {
    width: 100%;
    height: 100%;
    max-width: 150%;
    max-height: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.CropImg80:before {
    padding-bottom: 80%;
}
.CropImg80:before {
    content: "";
    display: block;
    padding-bottom: 80%;
}
