.text-qc {
    padding: 14px;
    line-height: 1.3;
    display: none;
    font-weight: 600;
}
.img-qc{
    opacity: 1;
}
.box{
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.qc .box:hover{
    background-color: #7e33e0;
    cursor: pointer;
}
.qc .box:hover > .text-qc{
   display: block;
   color: #fff;
}
.qc .box:hover > .box-img .img-qc{
   opacity: 0.5;
 }
.text-qc-right{
    padding: 16px;
    font-weight: 600;
    font-size: 20px;
    color: #1a0b5b;
}
