.section-title {
    font-weight: 900;
    font-size: 28px;
    line-height: 46px;
    margin: 16px 0;
    color: #1a0b5b;
}
section,
.section-padding {
    padding: 32px 0;
    position: relative;
}
.color-theme,
.title-footer {
    color: #2f1ac4;
}
.widget-title-footer {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.list-style-none {
    list-style: none;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.bottom-10 {
    bottom: -10px;
}
.bottom-40 {
    bottom: -40px;
}

.objec-fit-cover {
    object-fit: cover;
}
.bt-10 {
    bottom: 10px;
}
.bt-20 {
    bottom: 20px;
}
.bold {
    font-weight: bold;
}
img.icon-ctv {
    width: 50px;
    height: 50px;
}
.link-to-ctv {
    bottom: 60px;
    right: 35px;
}
.box-link {
    background: #7e33e0;
    border-radius: 50px;
    color: #fff;
}
.text-ctv {
    display: none;
    padding-left: 16px;
}
.box-link:visited,
.box-link:active,
.box-link:focus,
.box-link:hover > .text-ctv {
    display: inline-block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    /* transition: with 3s ease-out ;
    -webkit-transition: with 3s ease-out ;
    -moz-transition: with 3s ease-out ;
    -ms-transition: with 3s ease-out ;
    -o-transition: with 3s ease-out ; */
}
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}
.line-two {
    text-transform: capitalize;
    line-height: 1.125rem;
    height: 2.25rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    /* color: rgba(0,0,0,.8); */
    font-size: 0.875rem;
}
.line-three {
    text-transform: capitalize;
    line-height: 1.125rem;
    height: 2.25rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    /* color: rgba(0,0,0,.8); */
    font-size: 0.875rem;
}
