.title-video {
    font-size: 24px;
    font-weight: 700;
    color: #7e33e0;
}
.img-100 {
    width: 100px;
}

.title-video:hover {
    cursor: pointer;
}
.box-content-video {
    padding: 16px;
}
.longtime {
    font-size: 16px;
    color: #fb3b8e;
}

.img-100 {
    width: 100px;
}

.title-video-right:hover {
    cursor: pointer;
}
.box-content-video-right {
    padding: 8px;
    font-size: 12px;
    line-height: 1.3;
}
.longtime-right {
    color: #fb3b8e;
}
.title-video-right {
    font-weight: 700;
    color: #7e33e0;
}
